{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript">
        google.load("visualization", "1.1", {packages: ["bar"]});
        google.setOnLoadCallback(drawStuff);

        function drawStuff() {
            var jsonData = $.ajax({
                url: "{{ url_for('col_data') }}",
                dataType: "json",
                async: false
            }).responseText;

            var options = {
                height: 500,
                chart: {
                    title: 'Title',
                    subtitle: 'Subtitle'
                }
            };

            var data = new google.visualization.DataTable(jsonData);
            var chart = new google.charts.Bar(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}
{% block column %}
    <div id="chart_div"></div>
{% endblock %}