{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript">
        google.load("visualization", "1.1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawStuff);

        function drawStuff() {
            var json1 = $.ajax({
                url: "/lang_data",
                dataType: "json",
                async: false
            }).responseText;

            var options = {
                height: 500,
                title: 'Language Distribution',
                subtitle: 'Tweets in languages like...'
            };

            var data1 = new google.visualization.DataTable(json1);
            var chart1 = new google.visualization.PieChart(document.getElementById('chart_div1'));
            chart1.draw(data1, options);

            var json2 = $.ajax({
                url: "/lang_data/m",
                dataType: "json",
                async: false
            }).responseText;

            var data2 = new google.visualization.DataTable(json2);
            var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
            chart2.draw(data2, options);
        }
    </script>
{% endblock %}
{% block column %}
    <div id="chart_div1"></div>
    <div id="chart_div2"></div>
{% endblock %}