{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript">
        google.load("visualization", "1.1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawStuff);

        function drawStuff() {
            var jsonData = $.ajax({
                url: "{{ url_for('scatter_data') }}",
                dataType: "json",
                async: false
            }).responseText;

            var data = new google.visualization.DataTable(jsonData);
            var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
            chart.draw(data, {height: 500});
        }
    </script>{% endblock %}
{% block body %}
    <div id="chart_div"></div>
{% endblock %}